<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!-- Define la conexion local a SQL Express usando Windows Authentication -->
		<add name="SanarRuralDB" connectionString="Data Source=localhost\SQLEXPRESS02;Initial Catalog=SanarRural;Integrated Security=True;" providerName="System.Data.SqlClient" />
	<add name="SanarRuralDBEntities" connectionString="metadata=res://*/ModelSanarRural.csdl|res://*/ModelSanarRural.ssdl|res://*/ModelSanarRural.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS02;initial catalog=SanarRuralDB;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>